:root {
  font-family: sans-serif;
  --theme-color-1: rgb(210, 236, 180);
  --theme-color-2: rgb(234, 192, 240);
  --theme-color-3: rgb(233, 199, 154);
}

body {
  background-color: rgb(240, 240, 240);
  text-align: center;
}