:root {
  font-family: sans-serif;
  --theme-color-1: rgb(125, 25, 0);
  --theme-color-2: rgb(175, 50, 5);
  --theme-color-3: rgb(255, 225, 225);
  --theme-color-4: rgb(250, 240, 240);
}

body {
  background-color: var(--theme-color-4);
  text-align: center;
}

header {
  color: var(--theme-color-1);
  font-weight: bold;
  margin: 10px;
}

button {
  color: var(--theme-color-4);
  background-color: var(--theme-color-1);
  border-style: none;
  border: 5px;
  width: 80px;
  height: 20px;
}

#homeBtn {
  border-top-left-radius: 10px;
}

#contactBtn {
  border-top-right-radius: 10px;
}

#content {
  border-style: solid;
  border-color: var(--theme-color-1);
  color: var(--theme-color-1);
  border-radius: 10px;
}

.section {
  background-color: var(--theme-color-3);
  border-style: solid;
  border-width: 1px;
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
}

.header {
  font-size: 24px;
}

.text {
  font-size: 16px;
}

#main_header {
  font-size: 30px;
}

#description {
  text-align: justify;
  padding: 10px;
}

#map {
  width: 360px;
  height: 240px;
}

.menu_item {
  margin-bottom: 20px;
}

.food_img {
  height: 200px;
  width: auto;
  border-radius: 5px;
}